/* 
    Document   : styles.css
    Created on : Jan 17, 2013, 1:29:11 PM
    Author     : Yariv Katz
    Copyright  : Nerdeez
    Description:
        heetchikers facebook application
*/

html{
    font-family: verdana,helvetica,arial,sans-serif;
}

#canvas{
    width: 760px;
    margin: 0 auto;
}

#header{
    height: 80px;
    width: 100%;
    background-image: url("/img/header.png");
}

#body{
    width: 100%;
    min-height: 700px;
    background-image: url("/img/body_bg.png");
}

#footer{
    height: 18px;
    width: 100%;
    background-image: url("/img/header.png");
}

.dialog{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 12px 14px 3px #888888;
    margin: 0 auto;
    width: 700px;
}

.fbc-login-register-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #5B74A8;
    background-image: linear-gradient(#637BAD, #5872A7);
    border-image: none;
    border-style: none;
    border-width: medium;
    color: white;
    cursor: pointer;
    font-size: 15px;
    height: 44px;
    margin-right: 9px;
    padding: 9px 18px;
    text-decoration: none;
}

.fbc-login-register-button:hover {
    color: #CCCCCC;
}

